.banner {
    padding: 3rem 7.5rem 6.25rem;
    background-color: #060a10;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom:15px;
}

.banner > .apresentacao > .titulo {
    font-size: 4rem;
    color:white;
    line-height: 4.5rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}

.paragrafo {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.images {
    position: relative;
    height: 406px;
}

.images > .batmanProfile {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18vw;
    border-radius: 50%;
}

.images > .circle {
    position: absolute;
    right: 7vw;
    bottom: 2.2vw;
    width: 25vw;
}

@media (max-width: 1100px) {    
    .banner {
        padding: 3.5rem 1.5rem;
    }

    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

    .paragrafo {
        margin-bottom: 1.5rem;
    }

    .images {
        height: 338px;
    }

    .images > .batmanProfile {
        width: 25vw;
    }

    .images > .circle {
        right: 10vw;
        width: 35vw;
    }
}

@media (max-width: 744px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }

    .titulo {
        margin-bottom: 2rem;
    }

    .paragrafo {
        margin-bottom: 2rem;
    }

    .images {
        height: 307px;
    }

    .images > .batmanProfile, .images > .circle {
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .imagess > .batmanProfile {
        width: 170px;
        transform: translate(5rem, 0px);
    }

    .imagess > .circle {
        width: 240px;
        transform: translate(-1.5rem, 0px);
    }
}